<%= form_with(model: milestone, local: true) do |form| %>
  <% if milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% milestone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phase %>
    <%= form.text_field :phase %>
  </div>

  <h3>stages</h3>
  <div id="stages">
    <%= form.fields_for :stages do |stage| %>
      <%= render 'stage_fields', form: stage %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add stage', form, :stages %>
    </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
