<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_to %>
    <%= form.text_area :invoice_to %>
  </div>

  <div class="field">
    <%= form.label :pin %>
    <%= form.text_field :pin %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :customerquote_id %>
    <%= form.collection_select :customerquote_id, Customerquote.all, :id, :name %>
  </div>

   <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :customerpo_id %>
    <%= form.collection_select :customerpo_id, Customerpo.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


  <div class="field">
    <%= form.label :milestone_id %>
    <%= form.collection_select :milestone_id, Milestone.all, :id, :phase %>
  </div>

  <div class="field">
    <%= form.label :stage_id %>
    <%= form.grouped_collection_select :stage_id, Milestone.all, :stages, :phase, :id, :percentage %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <!-- <div class="field">
    <%#= form.label :site_id %>
    <%#= form.collection_select :site_id, Site.all, :id, :name %>
  </div>

  <div class="field">
    <%#= form.label :amount %>
    <%#= form.number_field :amount %>
  </div>


  <div class="field">
    <%#= form.label :status_id %>
    <%#= form.collection_select :status_id, Status.all, :id, :state %>
  </div>

  <div class="field">
    <%#= form.label :scope_id %>
    <%#= form.collection_select :scope_id, Scope.all, :id, :scope_type %>
  </div> -->

  

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
