<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <!-- <th scope="col">Status</th> -->
      <th scope="col">Customerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.number %></td>
        <td><%= invoice.date.strftime("%d %b, %Y") %></td>
        <!-- <td><%#= invoice.status.state %></td> -->
        <td><%= invoice.customerpo.number %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
