<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>
<p>
  <strong>Site:</strong>
  <%= link_to @invoice.site.name, site_url(@invoice.site) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Customerpo:</strong>
  <%= link_to @invoice.customerpo.number , customerpo_url(@invoice.customerpo) %>
</p>

<p>
  <strong>Status:</strong>
  <%= link_to @invoice.status.state, status_url(@invoice.status) %>
</p>

<p>
  <strong>Scope:</strong>
  <%= link_to @invoice.scope.scope_type, scope_url(@invoice.scope) %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', :back %>
