<p id="notice"><%= notice %></p>
<p>
  <strong>Invoice To:</strong>
  <%= @invoice.invoice_to %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @invoice.pin %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @invoice.unit %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date.strftime("%d %b, %Y") %>
</p>
<p>
  <strong>Site:</strong>
  <%= link_to @invoice.site.name, site_url(@invoice.site) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Customer PO:</strong>
  <%= link_to @invoice.customerpo.number , customerpo_url(@invoice.customerpo) %>
</p>

<p>
  <strong>Purchase Order Amount:</strong>
  <%= @invoice.customerpo.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= link_to @invoice.status.state, status_url(@invoice.status) %>
</p>

<p>
  <strong>Scope:</strong>
  <%= link_to @invoice.scope.scope_type, scope_url(@invoice.scope) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', :back %>
