<%= form_with(model: contractorinvoice, local: true) do |form| %>
  <% if contractorinvoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractorinvoice.errors.count, "error") %> prohibited this contractorinvoice from being saved:</h2>

      <ul>
      <% contractorinvoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contractor_id %>
    <%= form.collection_select :contractor_id, Contractor.all, :id, :name %>
  </div>


  <div class="field">
    <%= form.label :invoice_to %>
    <%= form.text_area :invoice_to %>
  </div>

  <div class="field">
    <%= form.label :pin %>
    <%= form.text_field :pin %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :contractorquote_id %>
    <%= form.collection_select :contractorquote_id, Contractorquote.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :contractorpo_id %>
    <%= form.collection_select :contractorpo_id, Contractorpo.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <!-- milestone and stage are value -->
  <div class="field">
    <%= form.label :milestone_id %>
    <%= form.collection_select :milestone_id, Milestone.all, :id, :phase %>
  </div> 

  <!-- Dynamic select the percentage of pay here -->
  <div class="field">
    <%= form.label :stage_id %>
    <%= form.grouped_collection_select :stage_id, Milestone.all, :stages, :phase, :id, :percentage %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
