<%= form_with(model: contractorinvoice, local: true) do |form| %>
  <% if contractorinvoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractorinvoice.errors.count, "error") %> prohibited this contractorinvoice from being saved:</h2>

      <ul>
      <% contractorinvoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

 <!--  <div class="field">
    <%#= form.label :milestone_id %>
    <%#= form.text_field :milestone_id %>
  </div> -->

  <div class="field">
    <%= form.label :milestone_id %>
    <%= form.collection_select :milestone_id, Milestone.all, :id, :milestone_type %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
