<p id="notice"><%= notice %></p>
<p>
  <strong>Contractor:</strong>
  <%= @contractorinvoice.contractor.name %><br>
  <%= @contractorinvoice.contractor.description %><br>
  <%= @contractorinvoice.contractor.telephone %><br>
  <%= @contractorinvoice.contractor.email %>
</p>

<p>
  <strong>Invoice to:</strong>
  <%= @contractorinvoice.invoice_to %>
</p>

<p>
  <strong>Pin No:</strong>
  <%= @contractorinvoice.pin %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contractorinvoice.date.strftime("%d %b, %Y") %>
</p>

<p>
  <strong>Quotation No:</strong>
  <%= @contractorinvoice.contractorquote.number %>
</p>

<p>
  <strong>Invoice Number:</strong>
  <%= @contractorinvoice.number %>
</p>

<p>
  <strong>Ref: LPO No</strong>
  <%= link_to @contractorinvoice.contractorpo.number, contractorpo_url(@contractorinvoice.contractorpo) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contractorinvoice.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @contractorinvoice.stage.percentage %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @contractorinvoice.unit %>
</p>

<p>
  <strong>Purchase Order Amount:</strong>
  <%= @contractorinvoice.contractorpo.amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= (@contractorinvoice.contractorpo.amount * (@contractorinvoice.stage.percentage/100)).round(2) %>
  <%#= @contractorinvoice.amount %>
</p>



<%= link_to 'Edit', edit_contractorinvoice_path(@contractorinvoice) %> |
<%= link_to 'Back', contractorinvoices_path %>
