<nav>
  <%= link_to 'Home', root_path %> | 
  <%= link_to 'SDs', costcenters_path %> | 
  <%= link_to 'Customer Quotes', customerquotes_path %> | 
  <%= link_to 'Customer POs', customerpos_path %> | 
  <%= link_to 'Sites', sites_path %> | 
  <%= link_to 'Invoices', invoices_path %> | 
  <%= link_to 'Status', statuses_path %> | 
  <%= link_to 'Scopes', scopes_path %> | 
  <%= link_to 'Regions', regions_path %> |
  <%= link_to 'Towns', towns_path %> | 
  <%= link_to 'Milestones', milestones_path %> ||
  <%= link_to 'Contractors', contractors_path %> |
  <%= link_to 'Contractor Quotes', contractorquotes_path %> |
  <%= link_to 'Contractor POs', contractorpos_path %> |
  <%= link_to 'Contractor Invoices', contractorinvoices_path %> |
  <%= link_to 'Contracts', contracts_path %> |
  <%= link_to 'Pay Vouchers', paymentvouchers_path %> 
</nav>



