<%= form_with(model: paymentvoucher, local: true) do |form| %>
  <% if paymentvoucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paymentvoucher.errors.count, "error") %> prohibited this paymentvoucher from being saved:</h2>

      <ul>
      <% paymentvoucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :payment_by %>
    <%= form.text_field :payment_by %>
  </div>

  <div class="field">
    <%= form.label :pin_no %>
    <%= form.text_field :pin_no %>
  </div>

  <div class="field">
    <%= form.label :vat_no %>
    <%= form.text_field :vat_no %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <!-- <div class="field">
    <%#= form.label :contractorinvoice_id %>
    <%#= form.collection_select :contractorinvoice_id, Contractorinvoice.all, :id, :number %>
  </div> -->

  <!-- <div class="field">
    <%#= form.label :amount %>
    <%#= form.text_field :amount %>
  </div> -->

  <div class="field">
    <%= hidden_field_tag "paymentvoucher[contractorinvoice_ids][]", nil %>
    <% Contractorinvoice.all.each do |contractorinvoice| %>
      <%= check_box_tag "paymentvoucher[contractorinvoice_ids][]", contractorinvoice.id, @paymentvoucher.contractorinvoice_ids.include?(contractorinvoice.id), id: dom_id(contractorinvoice) %>
      <%= link_to (label_tag dom_id(contractorinvoice), contractorinvoice.number), contractorinvoice %>
      <%= form.text_field :amount %><br>
    <% end %>
  </div>

  

  <!-- <div class="field">
    <%#= form.label :site_id %>
    <%#= form.collection_select :site_id, Site.all, :id, :name %>
  </div>

  <div class="field">
    <%#= form.label :contractor_id %>
    <%#= form.collection_select :contractor_id, Contractor.all, :id, :name %>
  </div>

  <div class="field">
    <%#= form.label :milestone_id %>
    <%#= form.collection_select :milestone_id, Milestone.all, :id, :phase %>
  </div>

   <div class="field">
    <%#= form.label :stage_id %>
    <%#= form.collection_select :stage_id, Stage.all, :id, :percentage %>
  </div> -->

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
