<%= form_with(model: paymentvoucher, local: true) do |form| %>
  <% if paymentvoucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paymentvoucher.errors.count, "error") %> prohibited this paymentvoucher from being saved:</h2>

      <ul>
      <% paymentvoucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :payment_by %>
    <%= form.text_field :payment_by %>
  </div>

  <div class="field">
    <%= form.label :pin_no %>
    <%= form.text_field :pin_no %>
  </div>

  <div class="field">
    <%= form.label :vat_no %>
    <%= form.text_field :vat_no %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= hidden_field_tag "paymentvoucher[contractorinvoice_ids][]", nil %>
    <% Contractorinvoice.all.each do |contractorinvoice| %>
      <%= fields_for 'invoices[]', contractorinvoice do |i| %>
        <div class="field">
          <%= check_box_tag "", contractorinvoice.id, @paymentvoucher.contractorinvoice_ids.include?(contractorinvoice.id), id: dom_id(contractorinvoice) %>
          <%= link_to (label_tag dom_id(contractorinvoice), contractorinvoice.number), contractorinvoice %>
        </div>
        <div class="field">
          <%= i.label :amount %><br>
          <%= i.text_field :amount %>
        </div>
      <% end %>    
      <%#= check_box_tag "paymentvoucher[contractorinvoice_ids][]", contractorinvoice.id, @paymentvoucher.contractorinvoice_ids.include?(contractorinvoice.id), id: dom_id(contractorinvoice) %>
      <%#= link_to (label_tag dom_id(contractorinvoice), contractorinvoice.number), contractorinvoice %>
      <%#= form.text_field :amount %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
