<p id="notice"><%= notice %></p>

<h1>Paymentvouchers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Contractorinvoice</th>
      <th scope="col">Contractor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paymentvouchers.each do |paymentvoucher| %>
      <tr>
        <td scope="row"><%= paymentvoucher.id %></td>
        <td><%= paymentvoucher.number %></td>
        <td><%= link_to paymentvoucher.contractorinvoice.number, contractor_path(paymentvoucher.contractorinvoice) %></td>
        <td><%= link_to paymentvoucher.contractorinvoice.contractor.name, contractor_path(paymentvoucher.contractorinvoice) %></td>
        <td><%= link_to 'Show', paymentvoucher %></td>
        <td><%= link_to 'Edit', edit_paymentvoucher_path(paymentvoucher) %></td>
        <td><%= link_to 'Delete', paymentvoucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paymentvoucher', new_paymentvoucher_path %>
