<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @paymentvoucher.number %>
</p>

<p>
  <strong>Site:</strong>
  <%= link_to @paymentvoucher.site.name, site_path(@paymentvoucher.site) %>
</p>

<p>
  <strong>Contractorinvoice:</strong>
  <%= link_to @paymentvoucher.contractorinvoice.number, contractor_path(@paymentvoucher.contractorinvoice)%>
</p>

<%= link_to 'Edit', edit_paymentvoucher_path(@paymentvoucher) %> |
<%= link_to 'Back', paymentvouchers_path %>
