<%= form_with(model: contractor, local: true) do |form| %>
  <% if contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <!-- <div class="field">
    <%#= form.label :status_id %>
    <%#= form.text_field :status_id %>
  </div> -->
  <div class="field">
    <%= form.label :status_id %>
    <%= form.collection_select :status_id, Status.all, :id, :state %>
  </div> 

  <div class="field">
    <%= form.label :site_id %>
    <%#= form.collection_select :site_id, Site.all, :id, :name %>
    <%#= form.collection_select(:site_id, Site.all, :id, :name_with_initial, prompt: true) %>
    <%#= form.collection_select(:site_ids, Site.all, :id, :name,{}, {:multiple => true}) %>
    <%= form.collection_select(:site_id, Site.all, :id, :name, {:prompt => "Please Select a site"}, {:multiple => true}) %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
