<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contractor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contractor.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= link_to @contractor.status.state, status_path(@contractor.status) %>
</p>

<p>
  <strong>Site:</strong>
  <%= link_to @contractor.site.name, site_path(@contractor.site) %>
</p>

<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Percentage</th>
    </tr>
  </thead>
  <tbody>
		<%# @contractor.sites.each do |site| %>
			<tr>
				<td scope="row"><%#= site.id %></td>
				<td><%#= site.name %></td>
			</tr>
		<%# end %>
	</tbody>
</table> -->

<h1>Contracts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Contractor</th>
      <th scope="col">Contractorpos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contractor.contracts.each do |contract| %>
      <tr>
        <td scope="row"><%= contract.id %></td>
        <td><%= contract.amount %></td>
        <td><%= contract.date %></td>
        <td><%= link_to contract.site.name, site_url(contract.site) %></td>
        <td><%= link_to contract.contractorpo.number, contractorpo_url(contract.contractorpo) %></td>
        <td><%= link_to 'Show', contract %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', :back %>
