<%= form_with(model: contractorquote, local: true) do |form| %>
  <% if contractorquote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractorquote.errors.count, "error") %> prohibited this contractorquote from being saved:</h2>

      <ul>
      <% contractorquote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <!-- <div class="field">
    <%#= form.label :site_id %>
    <%#= form.text_field :site_id %>
  </div> -->
  <div class="field">
    <%= form.label :site_id %>
    <%= form.collection_select :site_id, Site.all, :id, :name %>
  </div> 

 <!--  <div class="field">
    <%#= form.label :customerpo_id %>
    <%#= form.text_field :customerpo_id %>
  </div> -->
  <div class="field">
    <%= form.label :customerpo_id %>
    <%= form.collection_select :customerpo_id, Customerpo.all, :id, :number %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
