<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @customerpo.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @customerpo.date.strftime("%d %b, %Y") %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @customerpo.amount %>
</p>

<p>
  <strong>Customerquote:</strong>
  <%= link_to @customerpo.customerquote.name, customerquote_path(@customerpo.customerquote) %>
</p>

<p>w
  <strong>Scope:</strong>
  <%= link_to @customerpo.scope.scope_type, scope_path(@customerpo.scope) %>
</p>

<%= link_to 'Edit', edit_customerpo_path(@customerpo) %> |
<%= link_to 'Back', :back %>


<h2> Contractor Quotes</h2>
<%= link_to 'New Contractor Quote', new_contractorquote_path %><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Site</th>
      <th scope="col">Contractor</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customerpo.contractorquotes.each do |contractorquote| %>
      <tr>
        <td scope="row"><%= contractorquote.id %></td>
        <td><%= link_to contractorquote.number, contractorquote_path(contractorquote) %></td>
        <td><%= link_to contractorquote.site.name, site_path(contractorquote.site) %></td>
        <td><%= link_to contractorquote.contractor.name, contractor_path(contractorquote.contractor) %></td>
        <td><%= contractorquote.date.strftime("%d %b, %Y") %></td>
        <td><%= contractorquote.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <div class="row">
  <div class="col-lg-6">
    <h3>Sites</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Number</th>
          <th scope="col">Tower height</th>
          <th scope="col">Status</th>
          <th scope="col">Scope</th>
          <th scope="col">Town</th>
          <th scope="col">Customer Quote</th>
          <th scope="col">Region</th>
        </tr>
      </thead>

      <tbody>
        <%# @customerpo.sites.each do |site| %>
          <tr>
            <td scope="row"><%#= site.id %></td>
            <td><%#= link_to site.name, site_path(site) %></td>
            <td><%#= site.number %></td>
            <td><%#= site.tower_height %></td>
            <td><%#= link_to site.status.state, status_path(site.status) %></td>
            <td><%#= link_to site.scope.scope_type, scope_url(site.scope) %></td>
            <td><%#= link_to site.town.name, town_url(site.town) %></td>
            <td><%#= link_to site.customerquote.name, customerquote_url(site.customerquote) %></td>
            <td><%#= link_to site.region.name, region_url(site.region) %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>
  </div>
</div> -->