<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @town.classification %>
</p>

<p>
  <strong>Region:</strong>
  <%= @town.region.name %>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', :back %>
