<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @site.number %>
</p>

<p>
  <strong>Tower height:</strong>
  <%= @site.tower_height %>
</p>

<p>
  <strong>Status:</strong>
  <%= link_to @site.status.state, status_url(@site.status) %>
</p>

<p>
  <strong>Scope:</strong>
  <%= link_to @site.scope.scope_type, scope_url(@site.scope) %>
</p>

<p>
  <strong>Region:</strong>
  <%= link_to @site.region.name, region_url(@site.region) %>
</p>

<p>
  <strong>Town:</strong>
  <%= link_to @site.town.name, town_url(@site.town) %>
</p>

<!-- <p>
  <strong>Customerquote:</strong>
  <%#= link_to @site.customerquote.name, customerquote_url(@site.customerquote) %>
</p>

<p>
  <strong>Customerpo:</strong>
  <%#= link_to @site.customerpo.number, customerpo_url(@site.customerpo) %>
</p> -->

<h1>Contracts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Contractor</th>
      <th scope="col">Contractorpos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site.contracts.each do |contract| %>
      <tr>
        <td scope="row"><%= contract.id %></td>
        <td><%= contract.amount %></td>
        <td><%= contract.date %></td>
        <td><%= link_to contract.contractor.name, contractor_url(contract.contractor) %></td>
        <td><%= link_to contract.contractorpo.number, contractorpo_url(contract.contractorpo) %></td>
        <td><%= link_to 'Show', contract %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', :back %>
