<p id="notice"><%= notice %></p>
<h1>
  <strong>Account:</strong>
  <%= @account.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<h2><%= @account.name %> SDs</h2>
<%= link_to 'New SD(Cost Center)', new_costcenter_path %><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Details</th>
      <th scope="col">Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account.costcenters.each do |costcenter| %>
      <tr>
        <td scope="row"><%= costcenter.id %></td>
        <td><%= link_to costcenter.number, costcenter_path(costcenter) %></td>
        <td><%= costcenter.details %></td>
        <td><%= costcenter.account.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%#= link_to 'Back', accounts_path %>
<%= link_to 'Back', :back %>

